USE [master]
GO
/****** Object:  Database [QuanLyPhongKT]    Script Date: 8/16/2025 6:00:53 PM ******/
CREATE DATABASE [QuanLyPhongKT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyPhongKT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyPhongKT.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyPhongKT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyPhongKT_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyPhongKT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyPhongKT]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 8/16/2025 6:00:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[AnnouncementID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[PublishedAt] [datetime2](0) NOT NULL CONSTRAINT [DF_Announcements_PublishedAt]  DEFAULT (sysutcdatetime()),
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnnouncementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 8/16/2025 6:00:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[ActorID] [int] NULL,
	[Action] [nvarchar](100) NOT NULL,
	[TargetType] [nvarchar](50) NULL,
	[TargetID] [nvarchar](50) NULL,
	[Details] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LeaveRequests]    Script Date: 8/16/2025 6:00:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequests](
	[LeaveID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[DecidedBy] [int] NULL,
	[DecidedAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL CONSTRAINT [DF_LeaveRequests_CreatedAt]  DEFAULT (sysutcdatetime()),
	[UpdatedAt] [datetime2](0) NOT NULL CONSTRAINT [DF_LeaveRequests_UpdatedAt]  DEFAULT (sysutcdatetime()),
PRIMARY KEY CLUSTERED 
(
	[LeaveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 8/16/2025 6:00:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[Payload] [nvarchar](max) NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[ReadAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaskComments]    Script Date: 8/16/2025 6:00:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskComments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[AuthorID] [int] NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL CONSTRAINT [DF_TaskComments_CreatedAt]  DEFAULT (sysutcdatetime()),
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 8/16/2025 6:00:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Priority] [int] NULL,
	[DueDate] [date] NULL,
	[AssigneeID] [int] NULL,
	[CreatorID] [int] NULL,
	[CompletedAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL CONSTRAINT [DF_Tasks_CreatedAt]  DEFAULT (sysutcdatetime()),
	[UpdatedAt] [datetime2](0) NOT NULL CONSTRAINT [DF_Tasks_UpdatedAt]  DEFAULT (sysutcdatetime()),
PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaskStatusHistory]    Script Date: 8/16/2025 6:00:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[OldStatus] [nvarchar](20) NULL,
	[NewStatus] [nvarchar](20) NOT NULL,
	[ChangedBy] [int] NULL,
	[Note] [nvarchar](400) NULL,
	[ChangedAt] [datetime2](0) NOT NULL CONSTRAINT [DF_TSH_ChangedAt]  DEFAULT (sysutcdatetime()),
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserDocuments]    Script Date: 8/16/2025 6:00:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDocuments](
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Url] [nvarchar](400) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 8/16/2025 6:00:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[UserID] [int] NOT NULL,
	[ManagerID] [int] NULL,
	[Code] [nvarchar](50) NULL,
	[Position] [nvarchar](100) NULL,
	[JoinDate] [date] NULL,
	[WorkLocation] [nvarchar](100) NULL,
	[EmploymentType] [nvarchar](50) NULL,
	[Phone] [nvarchar](30) NULL,
	[Address] [nvarchar](255) NULL,
	[DOB] [date] NULL,
	[Gender] [nvarchar](20) NULL,
	[BankName] [nvarchar](100) NULL,
	[BankAccount] [nvarchar](50) NULL,
	[TaxID] [nvarchar](50) NULL,
	[EmergencyName] [nvarchar](100) NULL,
	[EmergencyPhone] [nvarchar](30) NULL,
	[Skills] [nvarchar](400) NULL,
	[Certifications] [nvarchar](400) NULL,
	[LeaveAnnual] [int] NOT NULL CONSTRAINT [DF_UserProfiles_LeaveAnnual]  DEFAULT ((12)),
	[LeaveAnnualUsed] [int] NOT NULL CONSTRAINT [DF_UserProfiles_LeaveAnnualUsed]  DEFAULT ((0)),
	[LeaveSick] [int] NOT NULL CONSTRAINT [DF_UserProfiles_LeaveSick]  DEFAULT ((5)),
	[LeaveSickUsed] [int] NOT NULL CONSTRAINT [DF_UserProfiles_LeaveSickUsed]  DEFAULT ((0)),
	[CreatedAt] [datetime2](0) NOT NULL CONSTRAINT [DF_UserProfiles_CreatedAt]  DEFAULT (sysutcdatetime()),
	[UpdatedAt] [datetime2](0) NOT NULL CONSTRAINT [DF_UserProfiles_UpdatedAt]  DEFAULT (sysutcdatetime()),
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/16/2025 6:00:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [varbinary](64) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)),
	[LastLoginAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysutcdatetime()),
	[UpdatedAt] [datetime2](0) NOT NULL CONSTRAINT [DF_Users_UpdatedAt]  DEFAULT (sysutcdatetime()),
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserSettings]    Script Date: 8/16/2025 6:00:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSettings](
	[UserID] [int] NOT NULL,
	[AppearanceTheme] [nvarchar](20) NOT NULL CONSTRAINT [DF_UserSettings_Theme]  DEFAULT (N'system'),
	[AppearanceDensity] [nvarchar](20) NOT NULL CONSTRAINT [DF_UserSettings_Density]  DEFAULT (N'comfortable'),
	[Language] [nvarchar](10) NOT NULL CONSTRAINT [DF_UserSettings_Lang]  DEFAULT (N'vi'),
	[NotifyTaskAssigned] [bit] NOT NULL CONSTRAINT [DF_UserSettings_N1]  DEFAULT ((1)),
	[NotifyTaskStatusChange] [bit] NOT NULL CONSTRAINT [DF_UserSettings_N2]  DEFAULT ((1)),
	[NotifyOverdueAlerts] [bit] NOT NULL CONSTRAINT [DF_UserSettings_N3]  DEFAULT ((1)),
	[NotifyEmailReminders] [bit] NOT NULL CONSTRAINT [DF_UserSettings_N4]  DEFAULT ((0)),
	[DashboardDefaultTab] [nvarchar](50) NOT NULL CONSTRAINT [DF_UserSettings_DefaultTab]  DEFAULT (N'emp-dashboard'),
	[UpdatedAt] [datetime2](0) NOT NULL CONSTRAINT [DF_UserSettings_UpdatedAt]  DEFAULT (sysutcdatetime()),
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Announcements] ON 

INSERT [dbo].[Announcements] ([AnnouncementID], [Title], [Content], [PublishedAt], [CreatedBy]) VALUES (1, N'Tháng này chốt sổ ngày 28', N'Vui lòng hoàn tất chứng từ trước 17h ngày 28.', CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2), 1)
INSERT [dbo].[Announcements] ([AnnouncementID], [Title], [Content], [PublishedAt], [CreatedBy]) VALUES (2, N'Nghỉ lễ 02/09', N'Công ty nghỉ từ 31/08 đến hết 02/09.', CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Announcements] OFF
SET IDENTITY_INSERT [dbo].[LeaveRequests] ON 

INSERT [dbo].[LeaveRequests] ([LeaveID], [UserID], [StartDate], [EndDate], [Reason], [Status], [DecidedBy], [DecidedAt], [CreatedAt], [UpdatedAt]) VALUES (1, 2, CAST(N'2025-08-20' AS Date), CAST(N'2025-08-21' AS Date), N'Nghỉ phép năm', N'approved', 1, CAST(N'2025-08-15 04:29:46.0000000' AS DateTime2), CAST(N'2025-08-07 19:40:05.0000000' AS DateTime2), CAST(N'2025-08-15 04:29:46.0000000' AS DateTime2))
INSERT [dbo].[LeaveRequests] ([LeaveID], [UserID], [StartDate], [EndDate], [Reason], [Status], [DecidedBy], [DecidedAt], [CreatedAt], [UpdatedAt]) VALUES (2, 3, CAST(N'2025-08-25' AS Date), CAST(N'2025-08-26' AS Date), N'Nghỉ việc riêng', N'approved', 1, CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2), CAST(N'2025-08-07 19:40:05.0000000' AS DateTime2), CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2))
INSERT [dbo].[LeaveRequests] ([LeaveID], [UserID], [StartDate], [EndDate], [Reason], [Status], [DecidedBy], [DecidedAt], [CreatedAt], [UpdatedAt]) VALUES (3, 4, CAST(N'2025-08-18' AS Date), CAST(N'2025-08-18' AS Date), N'Nghỉ ốm', N'rejected', 1, CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2), CAST(N'2025-08-07 19:40:05.0000000' AS DateTime2), CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LeaveRequests] OFF
SET IDENTITY_INSERT [dbo].[TaskComments] ON 

INSERT [dbo].[TaskComments] ([CommentID], [TaskID], [AuthorID], [Content], [CreatedAt]) VALUES (1, 1, 1, N'Nhớ cập nhật số liệu công ty A.', CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2))
INSERT [dbo].[TaskComments] ([CommentID], [TaskID], [AuthorID], [Content], [CreatedAt]) VALUES (2, 1, 2, N'Đã nhận việc, đang xử lý.', CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2))
INSERT [dbo].[TaskComments] ([CommentID], [TaskID], [AuthorID], [Content], [CreatedAt]) VALUES (3, 4, 1, N'Liên hệ khách hàng chậm thanh toán.', CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[TaskComments] OFF
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([TaskID], [Title], [Description], [Status], [Priority], [DueDate], [AssigneeID], [CreatorID], [CompletedAt], [CreatedAt], [UpdatedAt]) VALUES (1, N'Lập báo cáo tài chính Q4', N'Tổng hợp số liệu Q4', N'in-progress', 3, CAST(N'2025-09-15' AS Date), 2, 1, NULL, CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2), CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2))
INSERT [dbo].[Tasks] ([TaskID], [Title], [Description], [Status], [Priority], [DueDate], [AssigneeID], [CreatorID], [CompletedAt], [CreatedAt], [UpdatedAt]) VALUES (2, N'Kiểm tra sổ sách', N'Đối chiếu sổ chi tiết', N'todo', 2, CAST(N'2025-09-10' AS Date), 3, 1, NULL, CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2), CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2))
INSERT [dbo].[Tasks] ([TaskID], [Title], [Description], [Status], [Priority], [DueDate], [AssigneeID], [CreatorID], [CompletedAt], [CreatedAt], [UpdatedAt]) VALUES (3, N'Chuẩn bị hồ sơ thuế', N'Thuế TNDN/TNCN', N'todo', 3, CAST(N'2025-09-25' AS Date), 4, 1, NULL, CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2), CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Tasks] OFF
SET IDENTITY_INSERT [dbo].[TaskStatusHistory] ON 

INSERT [dbo].[TaskStatusHistory] ([HistoryID], [TaskID], [OldStatus], [NewStatus], [ChangedBy], [Note], [ChangedAt]) VALUES (1, 6, NULL, N'todo', 1, N'Khởi tạo công việc', CAST(N'2025-08-16 07:51:54.0000000' AS DateTime2))
INSERT [dbo].[TaskStatusHistory] ([HistoryID], [TaskID], [OldStatus], [NewStatus], [ChangedBy], [Note], [ChangedAt]) VALUES (2, 7, NULL, N'todo', 1, N'Khởi tạo công việc', CAST(N'2025-08-16 07:51:54.0000000' AS DateTime2))
INSERT [dbo].[TaskStatusHistory] ([HistoryID], [TaskID], [OldStatus], [NewStatus], [ChangedBy], [Note], [ChangedAt]) VALUES (3, 8, NULL, N'todo', 1, N'Khởi tạo công việc', CAST(N'2025-08-16 07:51:54.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[TaskStatusHistory] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Email], [PasswordHash], [FullName], [Role], [IsActive], [LastLoginAt], [CreatedAt], [UpdatedAt]) VALUES (1, N'admin@company.com', 0x8D969EEF6ECAD3C29A3A629280E686CF0C3F5D5A86AFF3CA12020C923ADC6C92, N'Quản trị hệ thống', N'admin', 1, NULL, CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2), CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2))
INSERT [dbo].[Users] ([UserID], [Email], [PasswordHash], [FullName], [Role], [IsActive], [LastLoginAt], [CreatedAt], [UpdatedAt]) VALUES (2, N'nv01@company.com', 0x8D969EEF6ECAD3C29A3A629280E686CF0C3F5D5A86AFF3CA12020C923ADC6C92, N'Nguyễn Văn A', N'staff', 1, NULL, CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2), CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2))
INSERT [dbo].[Users] ([UserID], [Email], [PasswordHash], [FullName], [Role], [IsActive], [LastLoginAt], [CreatedAt], [UpdatedAt]) VALUES (3, N'nv02@company.com', 0x8D969EEF6ECAD3C29A3A629280E686CF0C3F5D5A86AFF3CA12020C923ADC6C92, N'Trần Thị B', N'staff', 1, NULL, CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2), CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
INSERT [dbo].[UserSettings] ([UserID], [AppearanceTheme], [AppearanceDensity], [Language], [NotifyTaskAssigned], [NotifyTaskStatusChange], [NotifyOverdueAlerts], [NotifyEmailReminders], [DashboardDefaultTab], [UpdatedAt]) VALUES (1, N'system', N'comfortable', N'vi', 1, 1, 1, 0, N'emp-dashboard', CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2))
INSERT [dbo].[UserSettings] ([UserID], [AppearanceTheme], [AppearanceDensity], [Language], [NotifyTaskAssigned], [NotifyTaskStatusChange], [NotifyOverdueAlerts], [NotifyEmailReminders], [DashboardDefaultTab], [UpdatedAt]) VALUES (2, N'system', N'comfortable', N'vi', 1, 1, 1, 0, N'emp-dashboard', CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2))
INSERT [dbo].[UserSettings] ([UserID], [AppearanceTheme], [AppearanceDensity], [Language], [NotifyTaskAssigned], [NotifyTaskStatusChange], [NotifyOverdueAlerts], [NotifyEmailReminders], [DashboardDefaultTab], [UpdatedAt]) VALUES (3, N'system', N'comfortable', N'vi', 1, 1, 1, 0, N'emp-dashboard', CAST(N'2025-08-14 19:40:05.0000000' AS DateTime2))
/****** Object:  Index [IX_AuditLogs_Actor]    Script Date: 8/16/2025 6:00:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_Actor] ON [dbo].[AuditLogs]
(
	[ActorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AuditLogs_Target]    Script Date: 8/16/2025 6:00:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_Target] ON [dbo].[AuditLogs]
(
	[TargetType] ASC,
	[TargetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Leave_Status]    Script Date: 8/16/2025 6:00:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Leave_Status] ON [dbo].[LeaveRequests]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Leave_User]    Script Date: 8/16/2025 6:00:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Leave_User] ON [dbo].[LeaveRequests]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Notifications_Type]    Script Date: 8/16/2025 6:00:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_Type] ON [dbo].[Notifications]
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_User]    Script Date: 8/16/2025 6:00:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_User] ON [dbo].[Notifications]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskComments_Task]    Script Date: 8/16/2025 6:00:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaskComments_Task] ON [dbo].[TaskComments]
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tasks_Assignee]    Script Date: 8/16/2025 6:00:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tasks_Assignee] ON [dbo].[Tasks]
(
	[AssigneeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tasks_DueDate]    Script Date: 8/16/2025 6:00:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tasks_DueDate] ON [dbo].[Tasks]
(
	[DueDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Tasks_Status]    Script Date: 8/16/2025 6:00:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tasks_Status] ON [dbo].[Tasks]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TSH_Task]    Script Date: 8/16/2025 6:00:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_TSH_Task] ON [dbo].[TaskStatusHistory]
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserDocuments_User]    Script Date: 8/16/2025 6:00:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserDocuments_User] ON [dbo].[UserDocuments]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__A9D105347A4A6DA6]    Script Date: 8/16/2025 6:00:54 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  CONSTRAINT [DF_AuditLogs_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserDocuments] ADD  CONSTRAINT [DF_UserDocuments_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserDocuments] ADD  CONSTRAINT [DF_UserDocuments_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Announcements]  WITH CHECK ADD  CONSTRAINT [FK_Announcements_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Announcements] CHECK CONSTRAINT [FK_Announcements_CreatedBy]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_User] FOREIGN KEY([ActorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_User]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequests_Decider] FOREIGN KEY([DecidedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [FK_LeaveRequests_Decider]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequests_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [FK_LeaveRequests_User]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_User]
GO
ALTER TABLE [dbo].[TaskComments]  WITH CHECK ADD  CONSTRAINT [FK_TaskComments_Task] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([TaskID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskComments] CHECK CONSTRAINT [FK_TaskComments_Task]
GO
ALTER TABLE [dbo].[TaskComments]  WITH CHECK ADD  CONSTRAINT [FK_TaskComments_User] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TaskComments] CHECK CONSTRAINT [FK_TaskComments_User]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Assignee] FOREIGN KEY([AssigneeID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Assignee]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Creator] FOREIGN KEY([CreatorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Creator]
GO
ALTER TABLE [dbo].[TaskStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_TSH_Task] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([TaskID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskStatusHistory] CHECK CONSTRAINT [FK_TSH_Task]
GO
ALTER TABLE [dbo].[TaskStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_TSH_User] FOREIGN KEY([ChangedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TaskStatusHistory] CHECK CONSTRAINT [FK_TSH_User]
GO
ALTER TABLE [dbo].[UserDocuments]  WITH CHECK ADD  CONSTRAINT [FK_UserDocuments_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDocuments] CHECK CONSTRAINT [FK_UserDocuments_User]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_UserProfiles_Manager] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [FK_UserProfiles_Manager]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_UserProfiles_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [FK_UserProfiles_Users]
GO
ALTER TABLE [dbo].[UserSettings]  WITH CHECK ADD  CONSTRAINT [FK_UserSettings_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSettings] CHECK CONSTRAINT [FK_UserSettings_Users]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [CK_Leave_Status] CHECK  (([Status]=N'cancelled' OR [Status]=N'rejected' OR [Status]=N'approved' OR [Status]=N'pending'))
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [CK_Leave_Status]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [CK_Tasks_Status] CHECK  (([Status]=N'done' OR [Status]=N'overdue' OR [Status]=N'in-progress' OR [Status]=N'todo'))
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [CK_Tasks_Status]
GO
ALTER TABLE [dbo].[TaskStatusHistory]  WITH CHECK ADD  CONSTRAINT [CK_TSH_New] CHECK  (([NewStatus]=N'done' OR [NewStatus]=N'overdue' OR [NewStatus]=N'in-progress' OR [NewStatus]=N'todo'))
GO
ALTER TABLE [dbo].[TaskStatusHistory] CHECK CONSTRAINT [CK_TSH_New]
GO
ALTER TABLE [dbo].[TaskStatusHistory]  WITH CHECK ADD  CONSTRAINT [CK_TSH_Old] CHECK  (([OldStatus]=N'done' OR [OldStatus]=N'overdue' OR [OldStatus]=N'in-progress' OR [OldStatus]=N'todo'))
GO
ALTER TABLE [dbo].[TaskStatusHistory] CHECK CONSTRAINT [CK_TSH_Old]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]=N'staff' OR [Role]=N'admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
USE [master]
GO
